# Dependencies
node_modules

# Build output
dist

# OS files
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Python venv (if any)
.venv
__pycache__
*.pyc

# Local test files
*.local
